<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#navbar" data-offset="300" class="{{ page.layout }}" onload="">
  <div id="splash"><table cellpadding="0" cellspacing="0"><tr><td><img src="/img/urbanwildlogo.png" /></td></tr></table></div>
  <div id="nonsplash">
    <div id="innernonsplash">
  <script>document.getElementById('nonsplash').style.display = 'none';</script>
    {% include header.html %}



    <div class="light" id="over">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title editable">URBAN WILD - H&auml;user sind ganz wild darauf!</h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-12 text-left editable"><p><strong>Holen Sie sich den Dschungel ins Haus. Einen Dschungel mit gro&szlig;en, erfrischend gr&uuml;nen Pflanzen. Ausgefallene Formen, besondere Arten. Machen Sie Ihr Zuhause spannend mit Urban Wild. Zumindest, wenn Sie sich trauen ...</strong></p></div>
          </div>
      </div>
    </div>

    <div class="light collectie2" id="collectie">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title editable">Kollektion</h2>
            </div> 
        </div>
      </div>
      <div class="container" style="padding: 0 15px;">
          {% assign siteplants = site.plants | sort: 'order' %}
          {% for item in siteplants limit:7 %}
              {% if forloop.index < 3 or forloop.index == 5 or forloop.index == 6 or forloop.index == 8 or forloop.index == 9 %}
                <div class="plant item{{ forloop.index }}" style="background: white url('//images.weserv.nl/?url=urban-wild.com{{ item.image | replace:' ','%20' }}&w=800&h=800&t=fit') center center no-repeat; background-size: contain;" onclick="window.location.href='{{ item.url }}'"></div>
                <div class="square" onclick="window.location.href='{{ item.url }}'"><div style="text-align: center;"><h3>{{ item.title }}</h3>
                {% for subitem in item.variants %}
                  {% if forloop.index == 1 %}{{ forloop.length }} Variante{% if forloop.length > 1 %}n{% endif %}{% endif %}
                {% endfor %}</div></div>
              {% else %}
                <div class="square" onclick="window.location.href='{{ item.url }}'"><div style="text-align: center;"><h3>{{ item.title }}</h3>
                {% for subitem in item.variants %}
                  {% if forloop.index == 1 %}{{ forloop.length }} Variante{% if forloop.length > 1 %}n{% endif %}{% endif %}
                {% endfor %}</div></div>
                <div class="plant item{{ forloop.index }}" style="background: white url('//images.weserv.nl/?url=urban-wild.com{{ item.image | replace:' ','%20' }}&w=800&h=800&t=fit') center center no-repeat; background-size: contain;" onclick="window.location.href='{{ item.url }}'"></div>
              {% endif %}
          {% endfor %}

          <a href="/kollektion" class="btn editable" style="display: inline-block; float: none; clear: both; width: auto; margin: 25px auto 0;">Hier finden Sie die gesamte Kollektion</a>
      </div>
    </div>


    <div class="light" id="luftreinigend">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left"> 
            <h2 class="post-title editable">luftreinigend</h2>
            <div class="editable"><p>Pflanzen von Urban Wild halten die Luft im Haus gesund. Die Arten wurden speziell nach ihrem gro&szlig;en Luftreinigungsverm&ouml;gen ausgew&auml;hlt. Unsere Umwelt und unsere Luft sind h&auml;ufig mit Giftstoffen belastet. Pflanzen ziehen diese Stoffe aus der Luft und bauen Sie ab. Au&szlig;erdem entziehen Pflanzen der Luft CO2, das sie in reinen Sauerstoff umwandeln. Durch Verdunstung &uuml;ber ihre Bl&auml;tter tr&auml;gt die Pflanze ferner zu einer Verbesserung der Luftfeuchtigkeit im Haus bei. Auch binden die Bl&auml;tter den in der Luft enthaltenen Feinstaub. Die Pflanzen von Urban Wild sind also nicht nur eine Augenweide, sondern sorgen zugleich f&uuml;r ein gesundes Wohnklima!</p></div>
          </div>
        </div>
      </div>
    </div>

  

    {% include footer.html %}
</div>
  </div></body>

</html>
